---
---

.navbar > .container {
    width: 100%; }
.navbar-list {
    list-style: none;
    margin-bottom: 0; }
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
.navbar-link.active {
    color: #33C3F0; }

/* Sticky footer*/
body > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.archive, .post, .home-post-list, .cursos, .curso, .tema, .about {
    flex: 1;
}
/* End sticky footer*/

/* Footer */
.footer-license {
    font-size: 0.8em;
    text-align: center;
}
.footer-icons {
    display: flex;
}
.footer-icons > div {
    flex: 1 1 auto;
}
.footer-icons-github, .footer-icons-feed {
    text-align: center;
}
.feed:before{
    content:url("{{site.baseurl}}/img/feed-icon-28x28.png");
} 

/* Ocultar etiqueta form búsqueda */
@media only screen {
    [role=search] label {
        display: none;
    }

    .comment-form label {
        display: none;
    }
}

.comment {
    display: grid;
    grid-template-areas: "avatar message"
                             "avatar message"
                             "avatar date";
    grid-template-columns: 1fr 9fr;
    margin-bottom: 1em;
    box-shadow: 4px 4px grey;
    border: 1px solid black;

}

.comment-author {
    grid-area: avatar;
    padding: 1em;
}

.comment-date {
    grid-area: date;
    margin: 1em 1em 1em 1em;
    text-align: right;
}

.comment-message {
    grid-area: message;
    margin: 1em;
}

.comment-form input {
    width: 100%;
}

.comment-form textarea {
    width: 100%;
    min-height: 6em;
}

.lista {
    list-style: none;
}
.lista li {
    background: #EEE;
    border-radius: 4px;
}

.lista li a {
    display: block;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.lista li a::after {
    content: ">>";
    float: right;

}

.archive-list {
}

.archive-list .archive-item{
    display: flex;
    justify-content: space-between;
}

.archive-list .archive-item-post{
    flex: 1 1 0;
}

.archive-list span.archive-item-date {
    text-align: left;
    flex: 0 1 8rem;
}

.archive-list .archive-item-category-list {
    display: none;
}
