.navbar > .container {
    width: 100%; }
.navbar-list {
    list-style: none;
    margin-bottom: 0; }
.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
.navbar-link.active {
    color: #33C3F0; }

/* Sticky footer*/
body > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.archive, .post, .home-post-list{
    flex: 1;
}
/* End sticky footer*/

/* Footer */
.footer-license {
    font-size: 0.8em;
    text-align: center;
}
.footer-icons {
    display: flex;
}
.footer-icons > div {
    flex: 1 1 auto;
}
.footer-icons-github, .footer-icons-feed {
    text-align: center;
}
.feed:before{
    content:url("/img/feed-icon-28x28.png");
} 

@media only screen {
    [role=search] label {
        display: none;
    }
}
