{% assign comments = site.data.comments[page.slug] | sort %}
{% for comment in comments %}
{% assign email = comment[1].email %}
{% assign name = comment[1].name %}
{% assign comment_date = comment[1].date %}
{% assign message = comment[1].message %}
<article class="comment container" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
  <div class="comment-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <img itemprop="image" class="comment-avatar" src="https://www.gravatar.com/avatar/{{email}}?d=mm&amp;s=50" srcset="https://www.gravatar.com/avatar/{{email}}?d=mm&amp;s=100 2x" alt="{{name}}">
    <span itemprop="givenName">{{name}}</span>
  </div>

  <div class="comment-date">
    <time datetime="{{comment_date | date: '%Y-%m-%dT%k:%M:%S' }}" itemprop="datePublished">{{comment_date | date: "%d/%m/%y, %k:%M" }}</time>
  </div>

  <div class="comment-message" itemprop="text"><p>{{message}}</p></div>
</article>
{% endfor %}




