<!--footer start 1-->

<footer id="footer" class="gray text-center footer-1">
  <div class="container">
    <a href="{{ site.baseurl }}/index.html" class="footer-logo">
      <img class="retina" src="{{ site.baseurl }}/assets/img/logo.png" alt="" />
    </a>
    <!-- <div class="sub-title">IES MARE NOSTRUM</div> -->
    <!-- <div class="social-link circle m-top-80 m-bot-80"> -->
    <!-- <a href="#"><i class="fa fa-facebook"></i></a> -->
    <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
    <!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
    <!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
    <!-- <a href="#"><i class="fa fa-behance"></i></a> -->
    <!-- </div> -->
    <div class="copyright">
      &copy; IES Mare Nostrum
    </div>
    <div class="copyright-sub-title text-uppercase">

    </div>
  </div>
</footer>
<!--footer 1 end-->
