---
layout: default
---
<section>
  {{content}}
</section>

<section class="home-post-list">
  <header>
    <h1>Últimos posts</h1>
    <hr>
  </header>
  {% for post in site.posts limit:3 %}  
  <article>
    <header>
      <h2>
        <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
      </h2>
      <p><span class="post-meta">{{post.date | date: "%-d %b, %y"}}</span> <!-- <span>{{post.tags}}</span> --></p>
    </header>
    {{post.excerpt}}
  </article>
  {% endfor %}  
</section>

