---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Comentarios -->
  <script data-isso="//ec2-52-213-99-234.eu-west-1.compute.amazonaws.com:4000/"
          src="//ec2-52-213-99-234.eu-west-1.compute.amazonaws.com:4000/js/embed.min.js"></script>

  <section id="isso-thread"></section>

  <!-- Fin comentarios -->

</article>
